
.ccc-canvas-box {
      // display: flex;
      // justify-content: center;
          //  align-items: center;

      background-color: #2d2d2d;
     overflow: hidden;
      //border:1px solid #2d2d2d;
     // width: 100%;
      height: 100%;
      .ccc-paint-canvas{
      // background-color: #2d2d2d;
    transform-origin: left top;
      }
}